.cache
/Archive (software versions)
/build
/.idea
Main.mp4
/dist
scoreboard_app.spec
/Rescale
scoreboard_app.py
Gameday.mp4
config.json
/Rendering_boarding/build
Rendering_boarding/logo.ico
/Rendering_boarding/Media/layout_afbeeldingen
Rendering_boarding/Rendering.py
scoreboard_app.py
